Vagrantfile
provision.sh
test.php
*.lo
build/*
build
.vscode
.idea
.libs
.vagrant
autom4te.cache
modules
*.la
*.log
Makefile.*
missing
mkinstalldirs
Makefile
ltmain.sh
config.nice
config.status
config.sub
configure
configure.ac
install-sh
libtool
*.guess
*.in
aclocal.m4
acinclude.m4
playground.py
*.php
CMakeLists.txt